[1m--- .config.old	2022-01-26 20:52:27.029753248 +0530[0m
[1m+++ .config	2022-01-26 22:58:38.091727394 +0530[0m
[36m@@ -1368,7 +1368,61 @@[0m
 
 # CONFIG_HAMRADIO is not set
 # CONFIG_CAN is not set
[31m-# CONFIG_BT is not set[0m
[32m+CONFIG_BT=m[0m
[32m+CONFIG_BT_BREDR=y[0m
[32m+CONFIG_BT_RFCOMM=m[0m
[32m+# CONFIG_BT_RFCOMM_TTY is not set[0m
[32m+CONFIG_BT_BNEP=m[0m
[32m+CONFIG_BT_BNEP_MC_FILTER=y[0m
[32m+CONFIG_BT_BNEP_PROTO_FILTER=y[0m
[32m+CONFIG_BT_HIDP=m[0m
[32m+# CONFIG_BT_HS is not set[0m
[32m+CONFIG_BT_LE=y[0m
[32m+# CONFIG_BT_6LOWPAN is not set[0m
[32m+# CONFIG_BT_LEDS is not set[0m
[32m+# CONFIG_BT_MSFTEXT is not set[0m
[32m+# CONFIG_BT_AOSPEXT is not set[0m
[32m+CONFIG_BT_DEBUGFS=y[0m
[32m+# CONFIG_BT_SELFTEST is not set[0m
[32m+[0m
[32m+#[0m
[32m+# Bluetooth device drivers[0m
[32m+#[0m
[32m+CONFIG_BT_INTEL=m[0m
[32m+CONFIG_BT_BCM=m[0m
[32m+CONFIG_BT_RTL=m[0m
[32m+CONFIG_BT_MTK=m[0m
[32m+CONFIG_BT_HCIBTUSB=m[0m
[32m+# CONFIG_BT_HCIBTUSB_AUTOSUSPEND is not set[0m
[32m+CONFIG_BT_HCIBTUSB_BCM=y[0m
[32m+CONFIG_BT_HCIBTUSB_MTK=y[0m
[32m+CONFIG_BT_HCIBTUSB_RTL=y[0m
[32m+CONFIG_BT_HCIBTSDIO=m[0m
[32m+CONFIG_BT_HCIUART=m[0m
[32m+CONFIG_BT_HCIUART_SERDEV=y[0m
[32m+# CONFIG_BT_HCIUART_H4 is not set[0m
[32m+# CONFIG_BT_HCIUART_NOKIA is not set[0m
[32m+# CONFIG_BT_HCIUART_BCSP is not set[0m
[32m+# CONFIG_BT_HCIUART_ATH3K is not set[0m
[32m+# CONFIG_BT_HCIUART_LL is not set[0m
[32m+# CONFIG_BT_HCIUART_3WIRE is not set[0m
[32m+# CONFIG_BT_HCIUART_INTEL is not set[0m
[32m+# CONFIG_BT_HCIUART_BCM is not set[0m
[32m+# CONFIG_BT_HCIUART_RTL is not set[0m
[32m+# CONFIG_BT_HCIUART_QCA is not set[0m
[32m+# CONFIG_BT_HCIUART_AG6XX is not set[0m
[32m+# CONFIG_BT_HCIUART_MRVL is not set[0m
[32m+# CONFIG_BT_HCIBCM203X is not set[0m
[32m+# CONFIG_BT_HCIBPA10X is not set[0m
[32m+# CONFIG_BT_HCIBFUSB is not set[0m
[32m+# CONFIG_BT_HCIVHCI is not set[0m
[32m+# CONFIG_BT_MRVL is not set[0m
[32m+# CONFIG_BT_ATH3K is not set[0m
[32m+# CONFIG_BT_MTKSDIO is not set[0m
[32m+# CONFIG_BT_MTKUART is not set[0m
[32m+# CONFIG_BT_VIRTIO is not set[0m
[32m+# end of Bluetooth device drivers[0m
[32m+[0m
 CONFIG_AF_RXRPC=m
 CONFIG_AF_RXRPC_IPV6=y
 # CONFIG_AF_RXRPC_INJECT_LOSS is not set
